spring:
  application:
    name: RatingMessageEngineSilver
  datasource:
    driver-class-name: io.trino.jdbc.TrinoDriver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 3
      connection-timeout: 10000
      idle-timeout: 300000
      max-lifetime: 600000
  kafka:
    client-id: rating-message-engine-silver
    billing-line-topic: customer_services.billing.billing_line.event
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
          - liquibase
  health:
    diskspace.enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    enable:
      all: true
  info:
    git:
      mode: full